body{
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 900px;
}

h1{
    color: white;
    font-size: 35px;
    font-weight: normal;
    text-align: center;
    background-color: cornflowerblue;
    border: 1.5px solid cadetblue;
    box-shadow: 2px 2px 2px black;
    height: 70px;
    padding-top: 40px;
}

.principal{
    margin: 0 35px;
}

.principal h2{
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin-top: 60px;
}

.secundario{
    padding: 0 25px;
}

.secundario form{
    padding: 0 25px;
}

.secundario h3{
    font-size: 15px;
    font-weight: normal;
}

.cadastrando{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.cadastrando:hover{
    text-decoration: underline;
}

.cadastrando:active{
    color: aqua;
}

.plus{
    display: inline-block;
}

.tabela{
    margin-top: 20px;
    text-align: left;
    table-layout: auto;
    width: 100%;
}

.dataField{
    text-align: left;
    font-size: 15px;
}

.tabela column .dataField{
    font-size: 15px;
    font-weight: normal;
    text-align: left;
    margin: 0 20px;
}

.anoIngressoColumn{
    margin-left: 22%;
}

.anoIngresso{
    margin-left: 40%;
}

.editCommandWithRepeat{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.deleteCommandWithRepeat{
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-left: 5px;
}
